[package]
name = "genai"
version = "0.1.10"
edition = "2021"
rust-version = "1.79"
license = "MIT OR Apache-2.0"
description = "Multi-AI Providers Library for Rust. (Ollama, OpenAI, Anthropic, Groq, Gemini, ...)"
keywords = ["generative-ai","openai","chatgpt","gemini","ollama"]
homepage = "https://github.com/jeremychone/rust-genai"
repository = "https://github.com/jeremychone/rust-genai"

[lints.rust]
unsafe_code = "forbid"
# unused = { level = "allow", priority = -1 } # For exploratory dev.
missing_docs = "warn"

[dependencies]
# -- Async
tokio = { version = "1", features = ["full"] }
futures = "0.3"
tokio-stream = "0.1"
# -- Json
serde = { version = "1", features = ["derive", "rc"] } # Opted to rc for Arc<T> serialization
serde_json = "1"
# -- Web
reqwest = {version = "0.12", features = ["json"]}
reqwest-eventsource = "0.6"
eventsource-stream = "0.2"
bytes = "1.6"
# -- Others
derive_more = { version = "1.0.0-beta", features = ["from", "display"] }
value-ext = "0.0.3" # JC Authored. Early release (API might change). Be cautious when using in other projects.